.nav-link {
    color: $nav-link-color;

    &:hover,
    &.active {
      color: theme-color("primary");
    }

    i:not(.fa) {
        position: relative;
        top: 2px;
    }
}

// Pills

.nav-pills {
    will-change: transform;
    justify-content: center;
    top: 3.5rem;
    position: fixed;
    z-index: 100;
    width: 95%;
    @include transition($transition-base);
    
}
.nav-pills--pinned {
	@extend .position-fixed;
    transform: translateY(0%);
}
.nav-pills--unpinned {
	@extend .position-fixed;
    transform: translateY(-30%);
}

.nav-pills--not-top {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
    background-color: #fff !important;
    box-shadow: 0 1px 10px rgba(130, 130, 134, 0.1);
    top: 3rem;
    
}


.custom-nav-scroll{
    width: 100%
    
}

.custom-nav-scroll > div > div{
        display: flex;
    }

.nav-pills {
 
    .nav-item:not(:last-child) {
        padding-right: $nav-pills-space-x;
            
    }

    .nav-link {
    	padding: 0.01rem 0.7rem;
        color: $black-text;
        border-radius: 12px;
        font-weight: 700;
        font-size: 16px;
        box-shadow: $nav-pills-box-shadow;
        background-color: $secondary;
        transition: $transition-base;

        &:hover {
        	color: $nav-pills-link-hover-color;
        }
    }

    .nav-link.active,
    .show > .nav-link {
        color: $black-text;
        background-color: $nav-pills-link-active-bg;
    }

    @include media-breakpoint-down(xs) {
        .nav-item {
            margin-bottom: $spacer;

        }
    }
}

@include media-breakpoint-down(sm) {
    .nav-pills:not(.nav-pills-circle) {
        .nav-item {
            padding-right: 0;
            margin: 0.1rem 0.3rem;
            display: inline-block;
        }
    }
}

// Nav pills circle

.nav-pills-circle {
    .nav-link {
        text-align: center;
        height: 60px;
        width: 60px;
        padding: 0;
        line-height: 60px;
        border-radius: 50%;
    }

    .nav-link-icon {
        i, svg {
            font-size: 1rem;
        }
    }
}

// Nav wrapper
.nav-wrapper {
    padding: 1rem 0;
    @include border-top-radius($card-border-radius);

    + .card {
        @include border-top-radius(0);
        @include border-bottom-radius($card-border-radius);
    }
}

.load-more-btn:hover :focus{
    background-color: $primary !important;
    color: #000000;
    font-size: 16px;
    max-height: 48px;
    width: 100%;
    border-radius: 12px;
    font-weight: bold;
    line-height: 22px;
}

.load-more-btn{
    background-color: $primary !important;
    color: #000000;
    font-size: 16px;
    max-height: 48px;
    width: 100%;
    border-radius: 12px;
    font-weight: bold;
    line-height: 22px;
    
}